<div id="<%= dom_id(task) %>">
  <p><strong>Text:</strong> <%= task.text %></p>
  <p><strong>Due date:</strong> <%= task.due_date.strftime("%A, %B %e, %Y") %></p>
  <p><strong>Assigned to:</strong> <%= task.assigned_to.name if task.assigned_to %></p>
  <p><strong>Status:</strong> <%= task.status.humanize %></p>
</div>
