<p style="color: green"><%= notice %></p>

<div class="p-5">
  <%= render partial: "shared/org_nav" %>

  <h3 class="text-center mt-4">Tasks</h3>

  <%= link_to "New task", new_organization_task_path(@organization), class: "btn btn-primary mb-3" %>

  <div class="row">
    <div class="col-md-4">
      <h3>Not Started</h3>
      <% @tasks.select { |task| task.status == "not_started" }.each do |task| %>
        <%= render task %>
        <%= button_to "Start", start_organization_task_path(@organization, task), method: :put, class: "btn btn-success btn-block mb-2" %>
      <% end %>
    </div>

    <div class="col-md-4">
      <h3>In Progress</h3>
      <% @tasks.select { |task| task.status == "in_progress" }.each do |task| %>
        <%= render task %>
        <%= button_to "Complete", complete_organization_task_path(@organization, task), method: :put, class: "btn btn-success btn-block mb-2" %>
      <% end %>
    </div>

    <div class="col-md-4">
      <h3>Completed</h3>
      <% @tasks.select { |task| task.status == "completed" }.each do |task| %>
        <%= render task %>
      <% end %>
    </div>
  </div>
  <!-- end of row -->
</div>
