<p style="color: green"><%= notice %></p>

<div class="p-5">

  <%= render @task %>

  <div>
    <%= link_to "Edit this task", edit_task_path(@task) %> |
    <a href="/organizations/<%= @task.organization_id %>/tasks">Back to organization's tasks</a>

    <%= button_to "Destroy this task", @task, method: :delete %>
  </div>
</div>
