<h1 class="text-center"><%= @organization.name %></h1>

<nav class="org-nav bg-body-tertiary">
  <div class="container-fluid">
    <ul class="nav nav-tabs justify-content-center">
      <li class="nav-item">
        <%= link_to 'Meeting Minutes', organization_meeting_minutes_path(@organization), class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Members', organization_members_path(@organization), class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Tasks', organization_tasks_path(@organization), class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Events', organization_events_path(@organization), class: 'nav-link' %>
      </li>
    </ul>

  </div>
</nav>
