<p style="color: green"><%= notice %></p>

<div class="p-5">

  <%= render partial: "shared/org_nav" %>

  <h3 class="text-center mt-4">Events</h3>

  <div id="events">
    <% @events.each do |event| %>
      <%= render event %>
      <p>
        <%= link_to "Show this event", event %>
      </p>
    <% end %>
  </div>

  <%= link_to "New event", new_event_path %>

</div>
