<p style="color: green"><%= notice %></p>

<div class="p-5">
  <%= render partial: "shared/org_nav" %>

  <div id="events" class="mt-4"> <!-- Add margin top -->
    <%= month_calendar events: @events do |date, events| %>
      <div class="day <%= 'today' if date == Date.today %>"> <!-- Add 'today' class to highlight today's date -->
        <div class="number"><%= date.day %></div> <!-- Wrap the number in a container -->
        <% if date == Date.today %> <!-- Add a conditional to show the red dot only on today's date -->
          <div class="dot"></div>
        <% end %>
      </div>
      <div class="event-list"> <!-- Create a container for event list -->
        <% events.each do |event| %>
          <div class="card-header mr-n3">
            <div class="card-title mt-2">
              <%= link_to event.title, organization_event_path(@organization, event) %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
