<p style="color: green"><%= notice %></p>

<div class="p-5 mt-5">
  <%= render @event %>

  <div>
    <%= link_to "Edit Event", edit_organization_event_path(@organization, @event) %>
|
    <%= link_to "Back to organization's events", organization_events_path(@event.organization_id), class: "btn btn-secondary mr-2" %>
    
    <%= button_to "Destroy this event", organization_event_path(@organization, @event), method: :delete %>

  </div>
</div>
