<p style="color: green"><%= notice %></p>

<div class="p-5 mt-5">
  <%= render @event %>

  <div>
    <%= link_to "Edit this event", edit_event_path(@event) %> |
    <a href="/organizations/<%= @event.organization_id %>/events">Back to organization's events</a>

    <%= button_to "Destroy this event", @event, method: :delete %>
  </div>

</div>
