<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">

    <%= link_to "/organizations/#{@organization.id}/meeting_minutes",
            class: "form-exit-button btn btn-secondary" do %>
        <i class="fa-solid fa-x"></i>
      <% end %>
      
      <div class="p-2">

      

        <%= form_with(model: [@organization, @meeting_minute]) do |form| %>
          <% if meeting_minute.errors.any? %>
            <div style="color: red">
              <h2><%= pluralize(meeting_minute.errors.count, "error") %> prohibited this meeting_minute from being saved:</h2>

              <ul>
                <% meeting_minute.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div>
            <%= form.label :meeting_date, style: "display: block" %>
            <%= form.date_field :meeting_date, value: Date.today %>
          </div>
          <br>
          <div>
            <%= form.hidden_field :content, style: "display: block" %>
            <%= form.rich_text_area :content, style: "width: 100%;  border-radius: 20px;" %>
          </div>

          <div>
            <%= form.hidden_field :organization_id %>
          </div>
          <br>
          <div>

            <%= form.button :submit, class: "form-submit-button btn btn-primary" do %>
              <i class="fa-solid fa-check"></i> Submit
            <% end %>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
