<p style="color: green"><%= notice %></p>

<div class="p-5">

  <%= render partial: "shared/org_nav" %>

  <h3 class="text-center mt-4">Members</h3>

  <div id="members">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Email</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @members.each_with_index do |member, count | %>
          <tr>
            <th scope="row"> <%= count + 1 %> </th>
            <td> <%= member.first_name %> </td>
            <td> <%= member.last_name %> </td>
            <td> <%= member.email %> </td>
            <td> <%= link_to "Show this member", organization_member_path(@organization, member) %> </td>

          </tr>
        <%end%>
      </tbody>
    </table>
  </div>

  <%= link_to "New member", new_organization_member_path(@organization), class: "btn btn-primary" %>

  <%= paginate @members %>

</div>
