<p style="color: green"><%= notice %></p>

<div class="p-5">

  <%= render @member %>

  <div>
    <%= link_to "Edit this member", edit_organization_member_path(@organization, @member) %> |

    <a href="/organizations/<%= @member.organization_id %>/members">Back to organization's members</a>

    <%= button_to "Destroy this member", organization_member_path(@organization, @member), method: :delete %>
  </div>

</div>
